{{#author}}
  <header class="{{#if cover_image}}" style="background-image: url({{cover_image}}){{else}}no-cover{{/if}}">
    {{#if profile_image}}
      <img class="author-avatar" src="{{profile_image}}" alt="{{name}}" />
    {{/if}}
    <h1 class="author-name"><strong>{{name}}</strong></h1>
    {{#if bio}}
      <h2 class="author-bio">{{bio}}</h2>
    {{/if}}
    <div class="author-meta">
      {{#if location}}
        <div class="author-location">{{location}}
          <span class="bull">&bull;</span>
        </div>
      {{/if}}
      {{#if website}}
        <a class="social-link social-link-wb" href="{{website}}" target="_blank" rel="noopener">{{> "icons/website"}}</a>
      {{/if}}
      {{#if twitter}}
        <a class="social-link social-link-tw" href="{{twitter_url}}" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
      {{/if}}
      {{#if facebook}}
        <a class="social-link social-link-fb" href="{{facebook_url}}" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
      {{/if}}
      <a class="social-link social-link-rss" href="http://cloud.feedly.com/#subscription/feed/{{url absolute="true"}}/rss/" target="_blank"
        rel="noopener">{{> "icons/rss"}}</a>
    </div>
  </header>
{{/author}}