<nav class="side-bar-header flex-item0" id="J-sidebar-header">
  <div class="logo menuitem active J-sidebar-item J-sidebar-logo" data-name="logo" style="background-image: url({{@blog.logo}});"></div>
  {{navigation}}
  <a href="/about" role="menuitem" class="about menuitem" title="about">about</a>
  <div role="menuitem" class="search menuitem light J-sidebar-search J-sidebar-item" title="search" data-name="search"></div>
</nav>
<header id="J-blog-header" class="blog-header">
  <a href="/" class="logo flex-item0" style="background-image: url({{@blog.logo}});"></a>
  <div class="blog-title flex-item">{{@blog.title}}</div>
  <div class="blog-desc">{{@blog.description}}</div>
  <div class="nav-wrap">
    {{navigation}}
    <div role="menuitem" class="archive J-sidebar-trigger" data-target="blog-tree">archive</div>
    <a href="/about" role="menuitem" class="about">about</a>
    <div role="menuitem" class="about J-sidebar-trigger" data-target="search">search</div>
  </div>
</header>