<div class="post-content-wrap typo flex-item">
  {{#post}}
    <article id="J-post" class="post" data-id="{{id}}" data-title="{{title}}" data-slug="{{slug}}" data-url="{{url}}">
      {{#if feature_image}}
        <div class="post-feature-image loading J-post-feature-image">
          <figure style="background-image: url({{feature_image}})"></figure>
        </div>
      {{/if}}
      <h1 class="post-title J-post-title">{{title}}</h1>
      <div class="post-meta lighter J-post-meta">Posted by {{author}} on {{date published_at format="YYYY.MM.DD"}}</div>
      <div class="post-content post-full-content J-post-content">{{{html}}}</div>
      <div class="hidden J-reading-time-hidden">{{reading_time}}</div>
    </article>
  {{/post}}
</div>